:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-rgb: 33,37,41;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
  }
  h3 {
    text-align: center;
    margin-top: 80px;
    font-family: initial;
    margin-bottom: 30px;
  }
  
  p.head {
      font-family: initial;
    width: 300px;
    position: relative;
    left: 900px;
    font-size: larger;
  }
  div{
      margin: 80px 80px 80px 80px;
  }
  .body{
      margin: 100px 100px 100px 250px;
      font-family: initial;
      font-size: large;
      text-align: left;
  }
  span{
      display: inline;
  }
  .text{
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-bottom-style:dotted;
  }
  .fill{
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      width: 310px;
   
  }
  .fill1{
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      width: 200px;
   
  }
  
  .fill2{
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      width: 500px;
   
  }
  .row{
      margin-left: 0px;
      margin-right: 0px;
      position: relative;
      width: 500px;
      height: 240px;
      left: 520px;
      
  }
  .col-sm-2{
      margin-left: 140px;
      border: 2px solid black;
      height: 120px;
      width: 50px;
      padding-top: 7px;
      text-align: center;
  }
  